altgraph==0.17
auto-py-to-exe==2.10.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
googletrans==3.1.0a0
greenlet==1.1.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2022.8.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
lxml==4.9.1
pefile==2021.5.24
psycopg2==2.9.3
pycparser==2.20
pygame==2.0.1
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
pyTelegramBotAPI==4.6.1
pywin32-ctypes==0.2.0
requests==2.26.0
rfc3986==1.5.0
sniffio==1.2.0
soupsieve==2.2.1
urllib3==1.26.6
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
telebot==0.0.4
